@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(192, 7, 7);
  animation: spin 1s infinite linear;
  margin-left: 10px; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme-spotify {
  --header-bg: #067847; /* Spotify Green */
  --header-color: #ffffff; /* White */
  --bg-color: #121212; /* Dark Background */
  --h2-color: #ffffff; /* White */
  --p-color: #b3b3b3; /* Light Gray */
  --input-bg: #333333; /* Dark Gray */
  --button-bg: #067847; /* Spotify Green */
  --button-color: #ffffff; /* White */
  --select-bg: #000000; /* Dark Gray */
  --about-content-bg: #181818; /* Slightly Lighter Dark Background */
  --about-content-bg-text: #ffffff; /* White */
  --song-cont-bg: #181818; /* Slightly Lighter Dark Background */
  --gpt-message-background-color: #181818;
  --user-message-background-color: #181818; /* Slightly Lighter Dark Background */
  --about-container-bg: #181818; /* Slightly Lighter Dark Background */
  --fun-fact-bg: #181818; /* Slightly Lighter Dark Background */
  --font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  --select-color: #ffffff; /* White */
  --page-background-color:  #1b1919;
  --font-family: 'Briem', 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  --lyrics-container-gradient: linear-gradient(180deg, #067847 0%, #212423 100%);
  --lyrics-text-gradient: linear-gradient(180deg, #067847 0%, #212423 100%);
  --buton-hover-border: #067847; /* Spotify Green */
  --animation-red-blue: changeBackgroundRed 10s infinite;
  --selection-box-color: #067847; /* Spotify Green */
}

/* Dark theme */
.theme-default {
  --header-bg: #000000;
  --select-bg: #000000;
  --h1-bg-color: #510000;
  --header-color: #5f0000;
  --bg-color: #5c0303;
  --lyrics-container-gradient: linear-gradient(180deg, #3f0404 0%, #2a0101 100%);
  --lyrics-text-gradient: linear-gradient(180deg, #8b0606 0%, #1a0101 100%);
  --h2-color: #5f0101;
  --p-color: #ffffff;
  --button-hover: #3a3737;
  --buton-hover-border: #b10a0a;
  --input-bg: #000000;
  --button-bg: #000000;
  --button-color: #ffffff;
  --bg-color: linear-gradient(180deg, #000000 0%, #330101 100%);
  --about-content-bg: #5c0303;
  --about-content-bg-text: #000000;
  --song-cont-bg: #000000;
  --gpt-message-background-color: #270101;
  --select-color: #ffffff;
  --user-message-background-color: #270101;
  --user-message-text-color: #ffffff;
  --page-background-color:  #000000;
  --animation-red-blue: changeBackgroundRed 10s infinite;
  --selection-box-color: #3f0202;
  --about-container-bg: #000000;
  --fun-fact-bg: #000000;
  --font-family: Briem, 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
}

/* Light theme */
.theme-none {
  --header-bg: #5e81ac; /* Glacier Blue */
  --header-color: #eceff4; /* Snow Storm */
  --bg-color: #e5e9f0; /* Whisper */
  --h2-color: #3b4252; /* Dark Slate Blue */
  --p-color: #4c566a; /* Slate Grey */
  --input-bg: #d8dee9; /* Frosted */
  --button-bg: #88c0d0; /* Polar Blue */
  --button-color: #2e3440; /* Charcoal */
  --animation: pulsateColor 10s infinite;
  --select-bg: #d8dee9; /* Frosted */
  --about-content-bg: #e5e9f0; /* Whisper */
  --about-content-bg-text: #3b4252; /* Dark Slate Blue */
  --song-cont-bg: #eceff4; /* Snow Storm */
  --gpt-message-background-color: #e5e9f0; /* Whisper */
  --about-container-bg: #eceff4; /* Snow Storm */
  --fun-fact-bg: #e5e9f0; /* Whisper */
  --font-family: 'Briem', 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  --select-color: #3b4252; /* Dark Slate Blue */
}

header {
  background-color: var(--header-bg);
  color: var(--header-color);
}

body {
  background: var(--bg-color);
}
h1 {
  color: var(--h1-bg-color);

}

h2 {
  color: var(--h2-color);
}

p {
  color: var(--p-color);
}

input {
  background-color: var(--input-bg);
  font-family: var(--font-family);
}

button {
  background-color: var(--button-bg);
  color: var(--button-color);


}
button:hover {
  background-color: var(--button-hover);
  border-color: var(--buton-hover-border);
}
select {
  background-color: var(--select-bg);
  color: var(--select-color);
}

.about-container {
  background-color: var(--about-container-bg);
}
.about-content {
  background-color: var(--about-content-bg);
  color: var(--about-content-bg-text);
}
.fun-fact {
  background-color: var(--fun-fact-bg);
}
.songcont {
  background-color: var(--song-cont-bg);
}
.gpt-message {
  background-color: var(--gpt-message-background-color);
}
.selection-box{
  background-color: var(--page-background-color);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --lyrics-container-gradient: linear-gradient(180deg, #8b0606 0%, #560303 100%);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lyrics-display {
  background-color: var(--lyrics-container-gradient);

}

#themeSelector {
  position: absolute;
  top: 0;
  margin-left: 80px;
  margin-top: 10px;
  left: 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.track-item {
  padding: 15px;
  margin-bottom: 12px;
  border: 2px solid #510000;
  border-radius: 12px;
  background-color: #fff5f5; /* Light background for contrast */
  color: #510000; /* Main text color */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(81, 0, 0, 0.5); /* Subtle shadow */
}

.track-item:hover {
  background-color: #f8eaea; /* Slightly darker background on hover */
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 20px rgba(81, 0, 0, 0.7); /* Enhanced glow effect */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.track-name {
  font-weight: bold;
  font-size: 1.2em;
}

.track-artist {
  font-style: italic;
  color: #7a2e2e; /* Slightly different shade for artist name */
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
@keyframes pulsateColor {
  0%, 100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
}

@keyframes changeBackgroundBlue {
  0% {
    background-color: #27d1ce; /* Start color */
  }
  50% {
    background-color: #2388a9; /* Middle color */
  }
  100% {
    background-color: #27d1ce; /* End color */
  }
}
@keyframes changeTextColor {
  0% {
    color: #860000; /* Start color */
  }
  50% {
    color: #000000; /* Middle color */
  }
  100% {
    color: #860000; /* End color */
  }

}
@keyframes changeBackgroundRed {
  0% {
    background-color: #410702; /* Start color */
  }
  50% {
    background-color: #3c0000; /* Middle color */
  }
  100% {
    background-color: #410702; /* End color */
  }
}
body {
  justify-content:end;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Briem';
  src: url('./fonts/Briem_Hand/static/BriemHand-Black.ttf') format('truetype');
  /* Add additional font weights and styles if needed */
}
.lyricstag {
  font-family: 'Briem', 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 1rem;


}
h2 {
  font-family: 'Briem', 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 2.5em;
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 5rem;
 /* Add margin to push the heading down */
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
h1 {
  font-family: 'Briem', 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 2rem;
  margin-bottom: 5rem; /* Add margin to push the heading down */
  text-align: center;
  animation: slideIn 0.5s ease-in-out;
}
.xenon-text {
  font-size: 8rem;/* Red color */
  text-align: start;
  margin-top: 2rem; /* Adjust margin-top as needed */
  margin-left: 15rem; /* Adjust margin-left as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
  z-index: 9999;
  animation: slideIn 0.5s ease-in-out;
  

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}
.default-video {
  margin-top: 20px; /* Adjust the value as needed */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input:focus {
  border-color: rgb(235, 227, 227);
  background-color: #353a3a;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.5); /* Example: Add a box shadow */
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000001;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#explosion-button {
  padding: 3px 20px;
  font-size: 18px;
  /*background-color: #22b3b1;*/
  border-radius: 5px;
  background-color: var(--h1-bg-color);
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  background-color: var(--h1-bg-color);
  transition: background-color 0.3s;
}
#clear-button {
  padding: 3px 15px;
  font-size: 18px;
  margin-left: 5px;
  background-color: var(--h1-bg-color);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;

  
}
#explosion-button:hover {
}
#clear-button:hover {
}

@keyframes explode {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2); opacity: 0; }
}
/* Styles for LyricsDisplay component */


/* Explosion effect for the button */
.explosion {
  animation: explode 0.5s ease-out;
}
.container1 {
  overflow-y: auto;
  height:70%;
  border-radius: 5px;


}
.clear {
  background-color: var(--selection-box-color);
}
.container {
  width: 300%;
  height: 50px;
  margin: 0 auto;
}
/* MainBoxcss */
@keyframes slideInXLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInXRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.gpt-message {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  animation: slideInXLeft .5s ease-in-out;
}

.gpt-message .message-content {
  font-family: 'Montserrat', sans-serif;
  animation: slideInX .5s ease-in-out;

}



.user-message {
  background-color: var(--user-message-background-color);
  color: var(--user-message-text-color);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  animation: slideInXRight .5s ease-in-out;
}
.user-message .message-content {
  background-color: var(--user-message-background-color);

  font-family: 'Montserrat', sans-serif;
}
.message-content {
  background-color: var(--user-message-background-color);
  font-size: 1rem;
  line-height: 1.5;
}
.librarycontainer {
  background-color: var(--bg-color);
}
.message {
  width: fit-content;
  max-width: 80%;
  margin-left: 100px;
  text-align: justify;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 80%;  
 
}
.prompt-area ::placeholder{
  background-color: var(--selection-box-color);
}
.prompt-area textarea {
  resize: vertical;
  min-height: 10px;
  max-height: 100px;
  overflow: auto;
  width: 80%; /* Adjust as needed */
  border-radius: 5px;
  padding-right: 60px;
  text-align: left;
  background-color: var(--selection-box-color);
}
.text-area {
  width: 80%;
  height: 50px;
 
}
.text-area::placeholder {
  color: red;
}
.textareachat {
  background-color: #2d0101;
  color:#ddcdcd;
}
.textareachat::placeholder {
  background-color: var(--selection-box-color);
  color:#ddcdcd;
}
.artistinput::placeholder {
  color: rgb(208, 188, 188);
}

.songinput::placeholder {
  color: rgb(208, 188, 188);
}

.submit {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translatey(-50%) translateX(-150%);
  background-color: #ffffff;
  color:#690707;
  margin-bottom: 10px;
  border: none;
  color: #ffffff;
}
.submit:hover {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translatey(-50%) translateX(-150%);
  background-color: #bcb2b2;  
  margin-bottom: 10px;
  border: none;
}
.submit img{
  width:20px;
  height:20px;
}
.submit img:hover {
  cursor: pointer;
  background-color: #a3abab;
}
@keyframes popOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.entry-content {
 width: 800px;
}
.songname img {
  display: flex;
  justify-items: auto;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  filter: invert(1);
}
.message-exit {
  animation: popOut 0.5s forwards;
}

.clear:hover {
}
.songcont {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.songcont2 {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  justify-self: ;

}


.songname {
  color:#ffffff;
  font-family:'Briem', 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
}
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.searchfield {
  display: flex;
  justify-items: auto;
}
.removeentrybutton {
  align-self: flex-end;
  margin-top: auto;
  color:#ffffff;
  
}
.removeentrybutton:hover {
  color:#ffffff;
}
@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.appvideoplayer {
  animation: scaleUp 0.5s ease-in-out;
}
.applyricsdisplay {
  animation: scaleUp 0.5s ease-in-out;
}
.songcont {
  animation: scaleUp 0.5s ease-in-out;
}

.vidplayerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width:80%;
  margin-left: 50px;
  animation: scaleUp 0.5s ease-in-out;
}
.video-player {
  width: 500px;
  height:400px;
  animation: scaleUp 0.5s ease-in-out;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202222; 
}

.aboutcont {
  background-color: #049b8e;
}
.chathistorytext {
  font-family: Briem, 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.typing {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid black; /* The caret */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  max-width: 100%;
}