/* Input area styling */
.prompt-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-left: 5px;
 
}

/* Styling for buttons */
 .clear {
    background-color: var(--selection-box-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.submit {
    background-color: var(--selection-box-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 190px;
}
.submit:hover {
    background-color: rgb(188, 169, 169);
    color: rgb(188, 181, 181);
    border: solid 2px white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 190px;
}
.submit img:hover {
    background-color: rgb(188, 169, 169);
}
.clear {
    margin-left: 10px; /* Space between textarea and clear button */
    margin-right: 0; /* Remove right margin for the last button */
}

.textareachat {
    width: calc(100% - 80px); /* Adjust width to make room for buttons */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* Disables resizing of the textarea */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.typing {
    display: inline-block;
    overflow: hidden; /* Ensures the content is clipped */
    border-right: .15em solid black; /* The caret */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0; /* Start with 0 width and expand */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
